@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');

:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    background-image: url("./assets/background.jpg");
    background-blend-mode: multiply;
    max-width: 600px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Headings{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
    color: var(--primary-color);
}

.qnaWrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
}

.question{
    font-size: 20px;
    font-weight: 600;
}

.input{
    background: transparent;
    height: 100%;
    width: calc(100% - 15px);
    padding: 2px 5px 2px 5px;
    font-size: 18px;
    font-weight: 600;
}

.heading-wrapper{
    display: grid;
    gap: 25px;
}

.info{
    display: flex;
    width: 90%;
    margin: auto;
    text-align: justify;
    color: var(--secondary-color);
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button{
    padding-top: 2px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
    border-radius: 4px;
    border: none;
    border: 1.5px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: var(--primary-color);
    color: white;
}

.message{
    font-family: "Homemade Apple", cursive;
    font-size: 16px;
    width: 90%;
    margin: auto;
    text-align: justify;
    color: #ff009e;
}

.readMore{
    display: block;
}